/* toolkit */

#arena_toolkit {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 3000;
}

#arena_toolkit_settings {
  margin: 10px 10px 10px auto;
  display: flex;
  border: 2px solid #cbcbcb;
  padding: 10px;
  height: 5px;
  width: 50px;
  background: white;
  position: relative;
}

#arena_toolkit_settings:hover {
  cursor: pointer;
}

#arena_toolkit_settings.arena_toolkit_settings_dev {
  background: #cbcbcb;
}

.arena_toolkit_settings_text {
  font-size: 0.65rem;
  position: absolute;
  bottom: 6px;
  right: 16px;
  display: none;
}

.arena_toolkit_settings_dev .arena_toolkit_settings_text {
  color: white;
  display: block;
  margin: 2px auto;
  width: 100%;
  bottom: 0;
  right: 0;
  text-align: center;
}

.arena_tool {
  margin: 10px 10px 10px auto;
  display: flex;
  background: white;
  border: 2px solid #cbcbcb;
  padding: 10px;
  position: relative;
}

.arena_tool_open {
    height: 440px;
    width: 440px;
}

.arena_tool_closed {
    height: 50px;
    width: 50px;
}

.arena_tool_resize {
  margin: -2px -1px;
  display: block;
  padding: 6px;
  transform: rotate(45deg);
  color: #9d9d9d;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.arena_tool_open .arena_tool_resize {
    transform: rotate(0deg);
    position: absolute;
    right: 10px;
}

.arena_tool_closed .arena_tool_resize {
}

.arena_tool_resize:hover {
  color: #585858;
  cursor: pointer;
}

.arena_tool_canvas {
  border: 1px solid #f2f2f2;
  margin: 32px;
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  overflow: auto;
}

.arena_tool_canvas ul {
  margin: 0.5em 0.8em;
}

.arena_tool_canvas li {
  list-style-type: square;
  padding: 0.2em 0;
  line-height: 1.2em;
  margin-left: 10px;
}

.arena_tool_closed .arena_tool_canvas {
  border: none;
}

.arena_toolkit_history_refresh {
  right: 52px;
  bottom: 50px;
  position: absolute;
  font-size: 1.2rem;
  font-weight: bold;
}

.arena_toolkit_history_refresh:hover {
  cursor: pointer;
}

.arena_tool_closed .arena_toolkit_history_refresh {
  display: none;
}

/* updated notification */
.arena_toolkit_updated {
  z-index: 2000;
  position: fixed;
  padding: 8px 15px;
  bottom: 10px;
  left: 10px;
  background: white;
  border: solid 2px #cbcbcb;
}

.arena_toolkit_updated_visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear;
}

.arena_toolkit_updated_hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
}
